body{
  background: white;
}
.helper{
  position: absolute;
  height: 300%;
  width: 10px;
  top: 0;
  left: 0;
  background: #fc6b19;
}
#lol{
  position: absolute;
  width: 5px;
  height: 10px;

  background: #dde345;
  transform: rotate(45deg);
  border: none;
}
#sketch{
  z-index: 100;
}
#game{
  position: absolute;
  top: 1050px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;

  width: 50px;
  height: 50px;
}
#game1{
  position: absolute;
  top: 1050px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  transform: rotate(180deg);
  transition: all 3000ms ease;   

  width: 50px;
  height: 50px;
}

#qbert{
  position: absolute;
  background: #fc6b19;
  height: 5px;
  width: 5px;

  z-index: 50;
  animation:hop .75s infinite;
  transition: all 50ms ease;   
  box-shadow:
  5px 0 0 #fc6b19,
  10px 0 0 #fc6b19,
  -5px 0 0 #fc6b19,
  0 5px 0 #fc6b19,
  5px 5px 0 #c9401a,
  10px 5px 0 #c9401a,
  15px 5px 0 #c9401a,
  20px 5px 0 #c9401a,
  -5px 5px 0 #fc6b19,
  -10px 5px 0 #fc6b19,
  0 10px 0 #c9401a,
  5px 10px 0 #fff,
  10px 10px 0 #fff,
  15px 10px 0 #c9401a,
  20px 10px 0 #fff,
  25px 10px 0 #fff,
  -5px 10px 0 #fc6b19,
  -10px 10px 0 #c9401a,
  -15px 10px 0 #c9401a,
  0 15px 0 #c9401a,
  5px 15px 0 #222,
  10px 15px 0 #222,
  15px 15px 0 #c9401a,
  20px 15px 0 #222,
  25px 15px 0 #222,
  -5px 15px 0 #fc6b19,
  -10px 15px 0 #fc6b19,
  -15px 15px 0 #c9401a,
  0 20px 0 #c9401a,
  5px 20px 0 #222,
  10px 20px 0 #222,
  15px 20px 0 #c9401a,
  20px 20px 0 #222,
  25px 20px 0 #222,
  30px 20px 0 #fc6b19,
  -5px 20px 0 #fc6b19,
  -10px 20px 0 #c9401a,
  -15px 20px 0 #c9401a,
  -20px 20px 0 #c9401a,
  0 25px 0 #fc6b19,
  5px 25px 0 #c9401a,
  10px 25px 0 #c9401a,
  15px 25px 0 #fc6b19,
  20px 25px 0 #fc6b19,
  25px 25px 0 #fc6b19,
  30px 25px 0 #fc6b19,
  35px 25px 0 #fc6b19,
  40px 25px 0 #fc6b19,
  45px 25px 0 #fc6b19,
  -5px 25px 0 #fc6b19,
  -10px 25px 0 #fc6b19,
  -15px 25px 0 #c9401a,
  -20px 25px 0 #c9401a,
  0 30px 0 #fc6b19,
  5px 30px 0 #fc6b19,
  10px 30px 0 #fc6b19,
  15px 30px 0 #fc6b19,
  20px 30px 0 #fc6b19,
  25px 30px 0 #fc6b19,
  30px 30px 0 #fc6b19,
  35px 30px 0 #fc6b19,
  40px 30px 0 #fc6b19,
  45px 30px 0 #fc6b19,
  50px 30px 0 #fc6b19,
  -5px 30px 0 #fc6b19,
  -10px 30px 0 #c9401a,
  -15px 30px 0 #c9401a,
  -20px 30px 0 #c9401a,
  0 35px 0 #fc6b19,
  5px 35px 0 #c9401a,
  10px 35px 0 #fc6b19,
  15px 35px 0 #c9401a,
  20px 35px 0 #fc6b19,
  25px 35px 0 #c9401a,
  30px 35px 0 #c9401a,
  35px 35px 0 #c9401a,
  40px 35px 0 #fc6b19,
  45px 35px 0 #fc6b19,
  50px 35px 0 #fc6b19,
  55px 35px 0 #fc6b19,
  -5px 35px 0 #c9401a,
  -10px 35px 0 #fc6b19,
  -15px 35px 0 #c9401a,
  -20px 35px 0 #c9401a,
  0 40px 0 #c9401a,
  5px 40px 0 #c9401a,
  10px 40px 0 #c9401a,
  15px 40px 0 #c9401a,
  20px 40px 0 #c9401a,
  35px 40px 0 #c9401a,
  40px 40px 0 #c9401a,
  45px 40px 0 #222,
  50px 40px 0 #222,
  55px 40px 0 #fc6b19,
  -5px 40px 0 #c9401a,
  -10px 40px 0 #c9401a,
  -15px 40px 0 #c9401a,
  0 45px 0 #c9401a,
  5px 45px 0 #c9401a,
  10px 45px 0 #c9401a,
  15px 45px 0 #c9401a,
  20px 45px 0 #c9401a,
  40px 45px 0 #c9401a,
  45px 45px 0 #222,
  50px 45px 0 #222,
  55px 45px 0 #fc6b19,
  -5px 45px 0 #c9401a,
  -10px 45px 0 #c9401a,
  0 50px 0 #c9401a,
  5px 50px 0 #c9401a,
  10px 50px 0 #c9401a,
  15px 50px 0 #c9401a,
  40px 50px 0 #c9401a,
  45px 50px 0 #c9401a,
  50px 50px 0 #c9401a,
  55px 50px 0 #fc6b19,
  -5px 50px 0 #c9401a,
  -5px 55px 0 #c9401a,
  15px 55px 0 #c9401a,
  -5px 60px 0 #c9401a,
  15px 60px 0 #c9401a,
  0px 65px 0 #fc6b19,
  -5px 65px 0 #c9401a,
  -10px 65px 0 #fc6b19,
  15px 65px 0 #c9401a,
  20px 65px 0 #fc6b19,
  -5px 70px 0 #fc6b19,
  0px 70px 0 #fc6b19,
  5px 70px 0 #fc6b19,
  15px 70px 0 #fc6b19,
  20px 70px 0 #fc6b19,
  25px 70px 0 #fc6b19,
  30px 70px 0 #fc6b19;
}
#qbert:before{

  border: solid 14px transparent;
  border-left: 0;
  border-right-color: #fff;
  display: block;
  oveflow: hidden;
  position: absolute;
  top: -12px;
  left: 46px;
  transform: rotate(-30deg);
  transition: all 3000ms ease;   
}
#qbert:after{
  background: #fff;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  padding: 15px 20px;
  position: absolute;
  left: 50px;
  top: -30px;
  border-radius: 50%;
  transition: all 3000ms ease;   
}


#pyramid{
  content: '';
  height: 50px;
  width: 50px;
  background: #dde345;
  transform: rotate(45deg);
  transition: all 3000ms ease;   
  box-shadow:
  30px 80px 0 #dde345,
  80px 30px 0 #5a45ec,

  60px 160px 0 #5a45ec, 
  110px 110px 0 #5a45ec,
  160px 60px 0 #5a45ec,

  90px 240px 0 #5a45ec,
  140px 190px 0 #dde345,
  190px 140px 0 #dde345,
  240px 90px 0 #dde345,

  120px 320px 0 #dde345,
  170px 270px 0 #dde345,
  220px 220px 0 #dde345,
  270px 170px 0 #dde345,
  320px 120px 0 #dde345,

  150px 400px 0 #dde345,
  200px 350px 0 #dde345,
  250px 300px 0 #dde345,
  300px 250px 0 #dde345,
  350px 200px 0 #dde345,
  400px 150px 0 #dde345,

  180px 480px 0 #dde345,
  230px 430px 0 #dde345,
  280px 380px 0 #dde345,
  330px 330px 0 #dde345,
  380px 280px 0 #dde345,
  430px 230px 0 #dde345,
  480px 180px 0 #dde345,

  210px 560px 0 #dde345,
  260px 510px 0 #dde345,
  310px 460px 0 #dde345,
  360px 410px 0 #dde345,
  410px 360px 0 #dde345,
  460px 310px 0 #dde345,
  510px 260px 0 #dde345,
  560px 210px 0 #dde345,

  240px 640px 0 #dde345,
  290px 590px 0 #dde345,
  340px 540px 0 #dde345,
  390px 490px 0 #dde345,
  440px 440px 0 #dde345,
  490px 390px 0 #dde345,
  540px 340px 0 #dde345,
  590px 290px 0 #dde345,
  640px 240px 0 #dde345,

  270px 720px 0 #dde345,
  320px 670px 0 #dde345,
  370px 620px 0 #dde345,
  420px 570px 0 #dde345,
  470px 520px 0 #dde345,
  520px 470px 0 #dde345,
  570px 420px 0 #dde345,
  620px 370px 0 #dde345,
  670px 320px 0 #dde345,
  720px 270px 0 #dde345,

  300px 800px 0 #dde345,
  350px 750px 0 #dde345,
  400px 700px 0 #dde345,
  450px 650px 0 #dde345,
  500px 600px 0 #dde345,
  550px 550px 0 #dde345,
  600px 500px 0 #dde345,
  650px 450px 0 #dde345,
  700px 400px 0 #dde345,
  750px 350px 0 #dde345,
  800px 300px 0 #dde345;
}
/*  330px 880px 0 #dde345,
  380px 830px 0 #dde345,
  430px 780px 0 #dde345,
  480px 730px 0 #dde345,
  
  530px 680px 0 #dde345,
  580px 630px 0 #dde345,
  630px 580px 0 #dde345,
  680px 530px 0 #dde345,
  
  730px 480px 0 #dde345,
  780px 430px 0 #dde345,
  830px 380px 0 #dde345,
  880px 330px 0 #dde345;*/

#pyramid:before{
  content: '';
  height: 50px;
  width: 30px;
  background: #314840;
  position: absolute;
  top: 15px;
  left: 50px;
  transform: skew(0deg, 45deg);
  transition: all 3000ms ease;   
  box-shadow:
  30px 50px 0 #314840,
  80px -50px 0 #314840,

  60px 100px 0 #314840,
  110px 0px 0 #314840,
  160px -100px 0 #314840,

  90px 150px 0 #314840,
  140px 50px 0 #314840,
  190px -50px 0 #314840,
  240px -150px 0 #314840,

  120px 200px 0 #314840,
  170px 100px 0 #314840,
  220px 0px 0 #314840,
  270px -100px 0 #314840,
  320px -200px 0 #314840,

  150px 250px 0 #314840,
  200px 150px 0 #314840,
  250px 50px 0 #314840,
  300px -50px 0 #314840,
  350px -150px 0 #314840,
  400px -250px 0 #314840,

  180px 300px 0 #314840,
  230px 200px 0 #314840,
  280px 100px 0 #314840,
  330px 0px 0 #314840,
  380px -100px 0 #314840,
  430px -200px 0 #314840,
  480px -300px 0 #314840,

  210px 350px 0 #314840,
  260px 250px 0 #314840,
  310px 150px 0 #314840,
  360px 50px 0 #314840,
  410px -50px 0 #314840,
  460px -150px 0 #314840,
  510px -250px 0 #314840,
  560px -350px 0 #314840,

  240px 400px 0 #314840,
  290px 300px 0 #314840,
  340px 200px 0 #314840,
  390px 100px 0 #314840,
  440px 0px 0 #314840,
  490px -100px 0 #314840,
  540px -200px 0 #314840,
  590px -300px 0 #314840,
  640px -400px 0 #314840,

  270px 450px 0 #314840,
  320px 350px 0 #314840,
  370px 250px 0 #314840,
  420px 150px 0 #314840,
  470px 50px 0 #314840,
  520px -50px 0 #314840,
  570px -150px 0 #314840,
  620px -250px 0 #314840,
  670px -350px 0 #314840,
  720px -450px 0 #314840;
}
#pyramid:after{
  content: '';
  height: 30px;
  width: 50px;
  background: #56a993;
  position: absolute;
  top: 50px;
  left: 15px;
  transform: skew(45deg, 0deg);
  transition: all 3000ms ease;   
  box-shadow:
  -50px 80px 0 #56a993,
  50px 30px 0 #56a993,

  -100px 160px 0 #56a993,
  0 110px 0 #56a993,
  100px 60px 0 #56a993,

  -150px 240px 0 #56a993,
  -50px 190px 0 #56a993,
  50px 140px 0 #56a993,
  150px 90px 0 #56a993,
  
  -200px 320px 0 #56A693,
  -100px 270px 0 #56A693,
  0px 220px 0 #56A693,
  100px 170px 0 #56A693,
  200px 120px 0 #56A693,

  -250px 400px 0 #56A693,
  -150px 350px 0 #56A693,
  -50px 300px 0 #56A693,
  50px 250px 0 #56A693,
  150px 200px 0 #56A693,
  250px 150px 0 #56A693,

  -300px 480px 0 #56A693,
  -200px 430px 0 #56A693,
  -100px 380px 0 #56A693,
  0px 330px 0 #56A693,
  100px 280px 0 #56A693,
  200px 230px 0 #56A693,
  300px 180px 0 #56A693,

  -350px 560px 0 #56A693,
  -250px 510px 0 #56A693,
  -150px 460px 0 #56A693,
  -50px 410px 0 #56A693,
  50px 360px 0 #56A693,
  150px 310px 0 #56A693,
  250px 260px 0 #56A693,
  350px 210px 0 #56A693,

  -400px 640px 0 #56A693,
  -300px 590px 0 #56A693,
  -200px 540px 0 #56A693,
  -100px 490px 0 #56A693,
  0px 440px 0 #56A693,
  100px 390px 0 #56A693,
  200px 340px 0 #56A693,
  300px 290px 0 #56A693,
  400px 240px 0 #56A693,

  -450px 720px 0 #56A693,
  -350px 670px 0 #56A693,
  -250px 620px 0 #56A693,
  -150px 570px 0 #56A693,
  -50px 520px 0 #56A693,
  50px 470px 0 #56A693,
  150px 420px 0 #56A693,
  250px 370px 0 #56A693,
  350px 320px 0 #56A693,
  450px 270px 0 #56A693;

}
@keyframes hop{
  from {top:36px;}
  to {top:20px;}
}

@media (max-width: 1400px) {
  #qbert{
    margin-top: 0px;
    left: -20px;
  }
  #pyramid{
    width: 45px; 
    height: 45px;
  }
  #pyramid:before{
    width: 45px;
    height: 45px;
  }
  #pyramid:after{
    width: 45px;
    height: 45px;
  }
}
@media (max-width: 1300px) {
  #qbert{
    margin-top: 20px;
  }
  #pyramid{
    width: 40px;
    height: 40px;
  }
  #pyramid:before{
    width: 40px;
    height: 40px;
  }
  #pyramid:before{
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 1200px) {
  #qbert{
    left: 50px;
  }
  #pyramid{
    width: 35px;
    height: 35px;
  }
  #pyramid:before{
    width: 35px;
    height: 35px;
  }
  #pyramid:after{
    width: 35px;
    height: 35px;
  }
}
@media (max-width: 1100px) {
  #qbert{
    left: 120px;
  }
  #pyramid{
    width: 30px;
    height: 30px;
  }
  #pyramid:before{
    width: 30px;
    height: 30px;
  }
  #pyramid:after{
    width: 30px;
    height: 30px;
  }

}
@media (max-width: 1000px) {
  #qbert{
    left: -90px;
  }
  #pyramid{
    width: 25px;
    height: 25px;
  }
  #pyramid:before{
    width: 25px;
    height: 25px;
  }
  #pyramid:after{
    width: 25px;
    height: 25px;
  }
}
@media (max-width: 900px) {
  #qbert{
    margin-top: 80px;
    left: -60px;
  }
  #pyramid{
    width: 20px;
    height: 20px;
  }
  #pyramid:before{
    width: 20px;
    height: 20px;
  }
  #pyramid:after{
    width: 20px;
    height: 20px;
  }

}
@media (max-width: 850px) {
  #qbert{
    left: 10px;
  }
  #pyramid{
    width: 15px;
    height: 15px;
  }
  #pyramid:before{
    width: 15px;
    height: 15px;
  }
  #pyramid:after{
    width: 15px;
    height: 15px;
  }
}
@media (max-width: 800px) {
  #qbert{
    left: 80px;
  }
  #pyramid{
    width: 10px;
    height: 10px;
  }
  #pyramid:before{
    width: 10px;
    height: 10px;
  }
  #pyramid:after{
    width: 10px;
    height: 10px;
  }
}
@media (max-width: 750px) {
  #qbert{
    margin-top: -10px;
    left: 50px;
  }
  #pyramid{
    width: 5px;
    height: 5px;
  }
  #pyramid:before{
    width: 5px;
    height: 5px;
  }
  #pyramid:after{
    width: 5px;
    height: 5px;
  }
}
@media (max-width: 700px) {
  #qbert{
    margin-top: -80px;
    left: 15px;
  }
  #pyramid{
    width: 0px;
    height: 0px;
  }
  #pyramid:before{
    width: 0px;
    height: 0px;
  }
  #pyramid:after{
    width: 0px;
    height: 0px;
  }
}
@media (max-width: 680px) {
  #qbert{
    height: 4px;
  }
  #pyramid{
    width: 55px;
    height: 55px;
  }
  #pyramid:before{
    width: 55px;
    height: 55px;
  }
  #pyramid:after{
    width: 55px;
    height: 55px;
  }
}
@media (max-width: 660px) {
  #qbert{
    height: 3px;
  }
}
@media (max-width: 640px) {
  #qbert{
    height: 2px;
  }
}
@media (max-width: 620px) {
  #qbert{
    height: 1px;
  }
}
@media (max-width: 600px) {
  #qbert{
    height: 0px;
  }
}
@media (max-width: 580px) {
  #qbert{
    height: 5px;
    width: 4px;
  }
}
@media (max-width: 560px) {
  #qbert{
    width: 3px;
  }
}
@media (max-width: 540px) {
  #qbert{
    width: 2px;
  }
}
@media (max-width: 520px) {
  #qbert{
    width: 1px;
  }
}
@media (max-width: 500px) {
  #qbert{
    width: 0px;
  }
}
@media (max-width: 480px) {
  #pyramid{
    width: 40px;
    height: 40px;
  }
  #pyramid:before{
    width: 40px;
    height: 40px;
  }
  #pyramid:after{
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 460px) {
  #pyramid{
    width: 30px;
    height: 30px;
  }
  #pyramid:before{
    width: 30px;
    height: 30px;
  }
  #pyramid:after{
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 440px) {
  #pyramid{
    width: 20px;
    height: 20px;
  }
  #pyramid:before{
    width: 20px;
    height: 20px;
  }
  #pyramid:after{
    width: 20px;
    height: 20px;
  }
}
@media (max-width: 420px) {
  #pyramid{
    width: 10px;
    height: 10px;
  }
  #pyramid:before{
    width: 10px;
    height: 10px;
  }
  #pyramid:after{
    width: 10px;
    height: 10px;
  }
}
@media (max-width: 400px) {
  #pyramid{
    width: 0px;
    height: 0px;
  }
  #pyramid:before{
    width: 0px;
    height: 0px;
  }
  #pyramid:after{
    width: 0px;
    height: 0px;
  }
  #qbert{
    width: 5px;
    height: 5px;
  }

  #game{
    bottom: 0px;  
  }
  
}

